
/*STYLE SHEET OF SHEEP PROJECT MAP*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Itim', cursive;
  color: #ffffff;
}


#map {
  position:center;
  width: 100%;
  height:100%;
  padding: 10px;
  /* top: 0; bottom: 0; left: 0; right: 0; */
  color: #000000;
  }
  
#map_container{
  max-width:1000px;
  height: 500px;
}

header {
  background-color: rgb(42, 161, 48);
  text-align: center;
  padding: 3px;
}

  #heading1 {
		position: center;
    color: #ffffff;
    font-size: 30px;

    background-color: rgb(42, 161, 48);
	  }
  
  nav {

    display: flex;
    position: center;
    padding: 2px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
  }

  /*Time Filtering*/

  #filtering {
		position:center;
    display: flex;
    flex-direction: row;
		width: 98%;
    max-width:1000px;
    border-radius: 25px;
    padding: 3px;
    margin: 5px;
    background-color: rgb(180, 180, 180);
	  }
  #filter_form {
/*     display: flex;
    flex-direction: column; */
    width: 90%;
    }

  #times{
    position: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
  }

  #button{
    font-family: 'Itim', cursive;
    border-radius: 25px;
    background-color: #6dcc8d;
    color: #ffffff
  }
  #button:hover{
    font-family: 'Itim', cursive;
    background-color: #5aa573;
  }

  /*Smaller Screen */ 
/*   query =============================== */
/*Single breakpoint 700px*/
/* @media screen and (max-width: 1000px){

  #times{
      width: 100%;
  }
} 